<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h1>TEST</h1>
    <div class="w3-cars w3-gray">
        <div class="w3-container w3-blue">
            <h2>FIRST PAGE</h2>
        </div>
    <!--<p th:text="${value}">ddf</p>-->
        <div class="w3-container">
        <div th:each="project : ${projects}" class="w3-container">
            <div class="w3-container">
                <div class="w3-container w3-lightblue">
                    <h2 th:text="${project.domain}">Project</h2>
                </div>
                <div class="w3-container w3-lightgray">
                    <ul class="w3-ul">
                        <li th:text="'Count of pages: ' + ${project.pages.size()}"></li>
                        <li th:with="pState = ${project.getParseEnabled()} ? 'enabled' : 'disabled'" th:text="'Parsing status: ' + ${pState}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>