<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Parser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="fragment/menu.html :: top_menu"/>

    <div class="w3-container wr-grey">
        <div class="w3-card">
            <h3>Site parser</h3>
        <p>
            Description bla bla bla bla
        </p>
        </div>

        <div class="w3-container w3-margin-top">
            <a href="/project" class="w3-button w3-blue w3-right">Edit</a>
        </div>
    </div>
</body>
</html>